h1 {
    font-size: 40px;
}
#shapka_div {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: auto;
}
#shapka_div1 {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: auto;
}
