{% extends "base.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Три карточки</title>
    <style>
        .container_train_info {
          display: flex;
          justify-content: center;
        }

        .card_train_info {
          border: 1px solid #ccc;
          border-radius: 5px;
          padding: 10px;
          margin: 10px;
          width: 200px;
        }
    </style>
</head>
<body>
<div class="container_train_info">
    <div class="card" style="width: 18rem;">
        <img src="/static/img/lastochka.jpg" style="width: auto; height: 205px;" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Экспресс</h5>
            <p class="card-text" style="font-size: 21px;">Небольшой по длине состав. Ездит с довольно высокой скоростью.
                Предназначен для перевозки пассажиров на дальние расстояния. </p>
        </div>
        <ul class="list-group list-group-flush" style="font-size: 20px">
            <li class="list-group-item"></li>
            <li class="list-group-item">Особенность: ездит через 1 станцию; возит только пассажиров</li>
            <li class="list-group-item">Скорость: 80 км/ч</li>
            <li class="list-group-item">Стоимость покупки: {{ lastochka_price }}</li>
            <li class="list-group-item">Вместимость: {{ lastochka_places }} мест</li>
        </ul>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="/static/img/ivolga.jpg" style="width: auto; height: 205px;" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Пригородный</h5>
            <p class="card-text" style="font-size: 21px;">Длинный состав.
                Способен перевозить большое количество пассажиров на далёкое расстояние с обычной скоростью.
            </p>
        </div>
        <ul class="list-group list-group-flush" style="font-size: 20px">
            <li class="list-group-item"></li>
            <li class="list-group-item">Особенность: возит только пассажиров; вместительный</li>
            <li class="list-group-item">Скорость: 65 км/ч</li>
            <li class="list-group-item">Стоимость покупки: {{ ivolga_price }}</li>
            <li class="list-group-item">Вместимость: {{ ivolga_places }} мест</li>
        </ul>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="/static/img/locomotive.jpg" style="width: auto; height: 205px;" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Грузовой</h5>
            <p class="card-text" style="font-size: 21px;">Длинный состав.
                Способен перевозить большое количество пассажиров на далёкое расстояние с обычной скоростью.
            </p>
        </div>
        <ul class="list-group list-group-flush" style="font-size: 20px">
            <li class="list-group-item"></li>
            <li class="list-group-item">Особенность: перевозит только грузы; довольно медленный</li>
            <li class="list-group-item">Скорость: 48 км/ч</li>
            <li class="list-group-item">Стоимость покупки: {{ locomotive_price }}</li>
            <li class="list-group-item">Состав: {{ locomotive_lifting_capacity }} вагонов</li>
        </ul>
    </div>
</div>
</body>
{% endblock %}